<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.munchlabs.square"
        versionCode="10" 
        version   = "0.0.1">

  <!-- versionCode is optional and Android only -->

  <name>Squares</name>

  <description>
    Not square.
  </description>

  <author href="http://build.phonegap.com" email="support@phonegap.com">
    Munch Labs
  </author>

</widget>
